parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - Classes
    scanDirectories:
        - ../../Packages/Libraries/deeplcom/deepl-php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: "#^Constant FLOW_PATH_FLOW not found\\.$#"
